.product-card {
  max-width: 280px;
  padding: 40px 20px 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.product-card__image {
  margin: 0 auto;
  margin-bottom: 24px;
}

.product-card__title {
  text-align: start;
  margin-bottom: 4px;
}

.product-card__text {
  margin-bottom: 16px;
}

.product-card__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.product-card__button {
  display: block;
  font-size: 14px;
  line-height: 20px;
  width: 141px;
  padding: 8px 22px 8px 44px;
  background: #7859cf url("../img/cart-icon.svg") left 22px center no-repeat;
}

@media (min-width: @tablet-width) {
  .product-card {
    max-width: 349px;
    padding: 50px 30px;
  }

  .product-card__image {
    margin-bottom: 30px;
  }
}
