.social__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
}

.social__link {
  display: block;
  min-width: 40px;
  min-height: 40px;
  padding: 10px 10px 0;

  & .social__link-icon {
    fill: #BDBDBD;
  }

  &:hover,
  &:focus {
    background-color: #F0EBFF;

    & .social__link-icon {
      fill: #7859CF;
    }
  }

  &:active {
    background-color: #7859CF25;
  }
}

